@import "../../node_modules/bootstrap/scss/functions";

// Required Bootstrap imports
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional components
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities/api";

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Vazirmatn, tahoma;
  font-feature-settings: "ss01";
  font-weight: 300;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.p-1 {
  padding: 1rem !important;
}
.cover {
  object-position: center;
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.coverContainer:hover .cover {
  opacity: 0.8;
}
.coverContainer {
  min-height: 100px;
  overflow: hidden;
  position: relative;
  max-height: 170px;
  cursor: pointer;
}
.subtitle {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  margin: 0;
  background: rgb(255, 255, 255, 0.6);
  font-weight: 500;
}
